@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');
body{
     margin: 0;
     font-family: 'Poppins', sans-serif;
}
.donate-area{
     background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.4)), url("images/BDflood-woman.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     height: 100vh;
     position:relative;
}
.donate-text{
     position: relative;
     top: 12rem;
     text-align: center;
     
}
.donate-text>h1{
     color: lightgray;
     font-size: 5rem;
     margin: 0;
     padding: 0;  
}
.donate-text>p{
     color: lightgray;
     font-size: 25px;
     margin: auto;
     width: 50%;
     padding: 20px 0;
     /* line-height: 1; */
  
}
.donate-now-btn{
     padding: 18px 20px;
     font-size: 25px;
     font-weight: 600;
     border: none;
     background-color: lightseagreen;
     color: white;
     border-radius: 8px;
     margin-top: 20px;
}

.amount-area{
     text-align: center;
     margin-bottom: 20px;
      width: 70%;
     margin: auto; 
     margin-bottom: 40px;
}
.amount-area>h2{
     font-size: 4rem;
     font-weight: 600;
     line-height: 1;
     padding-top: 60px;
    
}
.amount-area>p{
     font-size: 22px;
     width: 50%;
     margin: auto;
     padding-bottom: 5rem;
}

.donate-amount{
    margin-bottom: 50px;
}
.amount-btn{
     font-size: 40px;
     font-weight: 600;
     color: gray;
     padding: 50px 40px;
     border: 0;
     border-radius: 5px;
     margin-right: 10px;
}
.second-amount-btn{
     font-size: 40px;
     font-weight: 600;
     color: gray;
     padding: 50px 40px;
     border: 0;
     background-color: lightseagreen;
     color: white;
     border-radius: 5px;
     margin-right: 10px;
}
.amount-input{
     border: 0;
     font-size: 22px;

}
.amount-input:focus-visible{
     border: 0;
     outline: 0;
}
hr{
     border: 1px solid gray;
}